<div  class="profileDetails">
<section class="section1">
    <img [src]="userDetails?.image" alt="">
    <!-- <button (click)="updateProfile()" ><span>Edit</span></button> -->
</section>
<section class="section2">
    <div class="details">
        <!-- <h1>{{cartsService.userName}}</h1> -->
        <p>User Name: </p>
    <p>{{userDetails.username }} </p>
    <p>Name:</p>
    <p>{{userDetails.firstName}} {{userDetails.lastName}} </p>
   
    <p>Email: </p>
    <p>{{userDetails.email}}</p>
    
    </div>
    <!-- <input type="text">
    <input type="text"><input type="text"> -->
</section>

</div>