
.formOuterBox{
    background-color: #b4cae0;  
    /* height: 100vh; */
    padding: 2em;

}



.formAllBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.headerImage{
    width: 95vw;
    height: 60vh;
    border-radius: 2em;
   border: 1px solid black;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    
}

.headerImage img{
    height: 100%;
    width: 100%;
    position: absolute;
    /* z-index: -1; */
}

.header-above{
    padding: 2em;
    height: 100%;
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-template-rows: 1fr 3fr 2fr;
}


.header-above .header-sec3{
        display: flex;
        flex-direction: column;
        gap: 1em;

        /* border: 1px solid black; */
}

.header-sec3 p{
    color: yellow;
    font-size: 2em;
    font-weight: 600;

}

.header-sec3 span{
    border-radius: 1em;
}
.buttonSliders{
    display: flex;
    flex-direction: row;
    /* height: 100%; */
    width: 100%;
    justify-content: space-between;
    padding: 0 2em;
    font-weight: 600;
    position: absolute;
    top:45%;
    z-index: 2;
    color: white;
    /* border: none; */
    /* border: 2px solid yellow; */
    background-color: transparent;
}

.buttonSliders button{
    font-weight: 600;
    border: none;
    background-color: transparent;
    font-size: 2em;
}
.login{
    padding: 0.1em;
    background-color: rgb(146, 62, 226);
    border-radius: 10px;
    color: aliceblue;
    font-size: 1.6em;
    font-weight: 500;
}

.login:hover{
    background-color: rgba(137, 43, 226, 0.727);
   
}
