<!-- <div class="notification alert alert-dismissible fade show text-white d-flex align-items-center my-3 text-justify">
  <span class="far fa-bell pr-2"></span>
  You've got 3 new items on your list and 7 new comments check it out!
  <button type="button" class="close text-white ml-auto" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">
      Ok, Thanks
    </span>
  </button>
</div> -->



<div class="notification-box">
  <span class="">You've got 3 new items on your list and 7 new comments check it out!</span>
  
  <button type="button" class="" >
    <span >
      Ok, Thanks
    </span>
  </button>
</div>