


        <div class="wrapper">
            <app-carts-header [cartId]="id()" />
            <app-carts-notification />
            <app-carts-table />
             <thead _ngcontent-ng-c525090438="">
      <tr _ngcontent-ng-c525090438="">
        <th   scope="col"   class="text-uppercase header">
          item
        </th>
        <th  scope="col" class="text-uppercase">
          Quantity
        </th>
        <th scope="col" class="text-uppercase">
          price each
        </th>
        <th    scope="col" class="text-uppercase">
          total
        </th>
      </tr>
    </thead>
    
            <app-carts-item  *ngFor=" let product of allproduct()" [cartId]="id()" [product]="product"/>
            <app-carts-total />

          </div> 

