<div class="cont_principal">
    <div class="cont_central">
      <div class="cont_modal cont_modal_active cont_modal" >
      <div class="cont_photo">
    <div class="cont_img_back">
        <img src="{{recipe()?.image}}" alt="" />

        </div>
    <div class="cont_mins">
        <div class="sub_mins">
      <h3>{{recipe()?.prepTimeMinutes}}</h3>
    <span>MINS</span>
      </div>
      <div class="cont_icon_right">
    <a router="">  <i class="material-icons">&#xE8E7;</i></a>
      </div>
        </div>
    <div class="cont_servings">
          <h3>{{recipe()?.servings}}</h3>
    <span>SERVINGS</span>
        </div>
    <div class="cont_detalles">
        <h3>{{recipe()?.name}}</h3>
    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.</p>
        </div>
        </div>
    <div class="cont_text_ingredients">
    <div class="cont_over_hidden">
     
      <div class="cont_tabs">
      <ul>
        <li><a  (click)="onClick('ingredient')"><h4>INGREDIENTS</h4></a></li>
        <li><a  (click)="onClick('preparation')"><h4>PREPARATION</h4></a></li>
      </ul>  
      </div>
      <ul>
      @for(step of data;track step){
        <li style="text-align: start;padding-left: 1em;">-{{step}}</li>
      }
    </ul>
       
      <!-- <div class="cont_text_det_preparation">
      <div class="cont_title_preparation">
        <p>STEP 1</p>
        </div>
      <div class="cont_info_preparation">
        <p>Heat oven to 375 degress</p>
        </div>  
      <div class="cont_text_det_preparation">
    
      <div class="cont_title_preparation">
        <p>STEP 2</p>
        </div>
      <div class="cont_info_preparation">
        <p>Heat oil in a large skillet over medium-low head. Add onion and bell papper. Cook gently until very soft, about 20 minutes. Add garlic and cook until tender, 1 to 2 minutes; stir in cumin, paprika and cook 1 minute. Pour in tomatoes and season with 3/4 teaspoon salt and 1/4 teaspoon pepper;</p>
        </div> 
      
      </div>
    </div>   -->
      <div class="cont_btn_mas_dets">
      <a roterLink=""><i class="material-icons">&#xE313;</i></a>
      </div>
        
      </div>
      <div class="cont_btn_open_dets">
      <a routerLink="" onclick="open_close()"><i class="material-icons">&#xE314;</i></a>
      </div>
    
        </div>
       </div>
    </div>