<div class="d-flex align-items-center justify-content-between">
    <div class="d-flex flex-column">
      <div class="h3">My lists</div>
      <div class="text-uppercase">Total {{totalType()}}</div>
    </div>
    <!-- <div class="ml-auto btn"><span class="fas fa-cog"></span></div> -->
    <!-- <div class="btn btn-danger" type="button" id="sub">
     Clear Cart
    </div> -->
    <button class="btn btn-danger rounded-pill px-3" type="button" (click)="clearCart()">Clear Cart</button>
  </div>