
<div>
    <button class="btn btn-primary d-inline-flex align-items-center" type="button">
        Export to CSV
        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"></use></svg>
      </button>
</div>
<div class="container">
     @if(filterRows()){
            <ag-grid-angular [rowData]="filterRows()"  
            class="ag-grid ag-theme-quartz" 
            [columnDefs]="columnDefs" 
            [defaultColDef]="defaultColumnDef"
            (gridReady)="onGridReady($event)"
            [rowSelection]="rowSelection"
            [pagination]="true"
            [paginationPageSize]="10"
            [paginationPageSizeSelector]="[5,10,20,50,100]"
            

    ></ag-grid-angular>
     }
    </div>